<div
*ngIf="!pais else divPais"
class="alert alert-info">
    Espere por favor...
</div>
<ng-template #divPais>
    <div class="row">
        <div class="col-12">
            <h1>Pais: <small>{{pais.name}}</small></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h3>Bandera</h3>
            <img [src]="pais.flag" class="img-thumbnail" />
        </div>
    

    <div class="col">
        <h3>Información</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <strong>Población </strong> {{pais.population | number}} habitantes
            </li>
            <li class="list-group-item">
                <strong>Capital </strong> {{pais.capital}}
            </li>
            <li class="list-group-item">
                <strong>Área </strong> {{pais.area | number}} m³
            </li>
            <li class="list-group-item">
                <strong>Region </strong> {{pais.region}}
            </li>   
        </ul>
    </div>

</div>

    <h3 class="mt-3">Traducciones</h3>
    <div class="row">
        <div class="col">
            <span
            *ngFor="let t of pais.translations | keyvalue"        
            class="badge bg-primary mr-5"   
    >          
            {{ t.value}}   
    </span>
        </div>
    </div>
</ng-template>

